.containerDetail{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
}

.detail{
    align-items: center;
    width: 700px;
    height: 800px;
    border-radius: 30px;
    background: #396FE4;
}

.image {
    width: 600px;
    height: 400px;
    border-radius: 10px;
}