.containerForm{
    width: 500px;
    margin-top: 5px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 135vh;
    background-color: #417CF2;
}

.tools {
    max-height: 800px;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    width: 100%;
}

.inputGroup {
    display: flex;
    flex-direction: column;
}

/* Input */
.label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .3rem;
    font-size: .9rem;
    font-weight: bold;
    color: #05060f99;
    transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
}

.input {
    max-width: 400px;
    /* height: 15px; */
    background-color: #05060f0a;
    border-radius: .5rem;
    padding: 8px 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
}
    
.input:hover, .input:focus, .input-group:hover .input {
    outline: none;
    border-color: #05060f;
}
  
.inputGroup:hover .label, .input:focus {
    color: #05060fc2;
}

/* Create */
.create {
    padding: 12.5px 30px;
    margin-top: 5px;
    border: 0;
    border-radius: 100px;
    background-color: #2ba8fb;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
  
.create:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
}
 
.create:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}