.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .form {
    text-align: left; /* Alinea el texto a la izquierda */
    max-width: 400px; /* Ajusta el ancho máximo del formulario según tu preferencia */
  }
  
  .form label {
    display: block;
    margin-bottom: 8px;
  }
  
  .form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
  }
  
  .form button {
    padding: 8px 16px;
  }